{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{movies.img.url}}" width="500" height="500"><br>
        </div>

<div class="col-md-6">
    <h4><b><u>{{movies.name}}</u></b></h4><br>
    <b>{{movies.year}}</b><br>
    {{movies.desc}}<br>
    <a class="btn btn-warning" href="{% url 'movieapp:update' movies.id %}">Update</a>
    <a class="btn btn-danger" href="{% url 'movieapp:delete' movies.id %}">Delete</a>

</div>

 </div>
</div>
{% endblock %}